$default-size: 50rem;
$medium-size: 75rem;
$hard-size: 125rem;

$color-blue: blue;
$color-green: green;
$color-red: red;
$color-darkblue: darkblue;
$color-brown: brown;
$color-cadetblue: cadetblue;
$color-darkgray: darkgray;
$color-lightgray: lightgray;
$color-red: red;
$color-white: white;
$color-orange: orange;
$color-wheat: wheat;
$color-burlywood: burlywood;
$font-family: Tahoma, serif;
$transition-ease-out: ease-out 1s;