$default-size: 50rem;

$color-blue: blue;
$color-green: green;
$color-red: red;
$color-darkblue: darkblue;
$color-brown: brown;
$color-cadetblue: cadetblue;
$color-darkgray: darkgray;
$color-lightgray: lightgray;
$color-red: red;
$color-white: white;
$color-orange: orange;